<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息设置</title>
    <link rel="stylesheet" href="../../static/css/me_head_module.css"/>
    <link rel="stylesheet" href="../../static/css/me_default.css"/>
    <link rel="stylesheet" href="../../static/css/users/User_settings.css"/>
</head>
<body style="background-color: #e4e7ee;">
<div style="position: static;z-index: auto" class="DefaultHeader">
    <div class="IconTitleDivStyle">
        <a href="" style="text-decoration: none;color: deepskyblue">
            <i>Dv</i>
        </a>
    </div>
    <div class="searchDiv">
        <input type="text" class="searchInput" placeholder="搜索图像">
    </div>

    <div class="contributeDiv">
        <button class="contributeBtn">投 出 你 的 作 品 ▼</span></button>
        <div class="contributeMenu">
            <a href="" style="text-decoration: none">
                <div class="contributeMenu_Div">
                    图 片
                </div>
            </a>
        </div>
    </div>

    <div class="headUserDiv">
        <div class="IconImageDiv">
            <img class="iconImage" width="40" height="40" style="object-fit: cover; object-position: center top;" src="../../static/iconimage/default-icon.png"/>
        </div>
        <div class="aboutUserMenu">
            <div class="contributeMenu_Div">
                <a href="">
                    username
                </a>
            </div>
            <div class="contributeMenu_Div">
                <a href="">
                    设置
                </a>
            </div>
            <div class="contributeMenu_Div">
                <a href="">
                    登出
                </a>
            </div>
        </div>
    </div>
</div>
<div class="total-setting">
    <div class="page-setting-user">
        <div class="setting-users">
            <div class="setting-user-title">
                <div>
                    <h2><b>修改设置</b></h2>
                </div>
                <p class=""><a href="user-account-setting.html">用户设置</a></p>
                <p class=""><a href="user-setting.html">个人资料设置</a></p>
                <p class="choose-user"><a href="user-account-management.html">账户管理</a></p>
            </div>
            <form >
                <div class="setting-page">
                    <div style="height:500px;width: 80%;display: flex;display: flex;flex-direction: column;justify-content: space-around;align-items: center">
                        <div style="text-align: center">
                            <h4>当前账户邮箱：</h4>
                            <h3>XXX@gmail.com</h3></div>
                        <div><button class="logout" value="logout">登 出</button></div>
                        <div><button class="accountCancel" value="accountCancel">账 号 注 销</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="FenJieXian"></div>
</div>
</body>
</html>