<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../../static/css/default/me_default_page.css"/>
    <link rel="stylesheet" href="../../static/css/default/me_login.css"/>
</head>
<body>
<div class="loginDiv">
    <div class="IconTitleDivStyle">
        <i style="color: deepskyblue">Dv</i>
    </div>
    <div style="display: flex;justify-content: space-between;flex: 2;align-self: center">
    <form>
        <table>
            <tbody>
                <tr>
                    <td>账号</td><td><input type="text"></td>
                </tr>
                <tr>
                    <td>密码</td><td><input type="password"></td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top:25px;display:flex;flex-direction: column;justify-content: center;align-items: center">
            <button style="width:35%;padding: 10px 30px 10px 30px;border-radius: 10px;font-size: 10px">登 陆</button>
            &nbsp;
            <span><a href="">注册</a> | <a href="">找回密码</a></span>
        </div>
    </form>
    </div>
</div>
</body>
</html>