<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../../static/css/default/me_default_page.css"/>
    <link rel="stylesheet" href="../../static/css/default/me_login.css"/>
</head>
<body>
<script type="text/javascript">
    window.onload=function (){
        const Test = [false,false,false,false];
        const registerForm = document.forms['registerForm'],
            user = registerForm.elements["user"],
            password = registerForm.elements['password'],
            passwords = registerForm.elements['password-again'],
            email = registerForm.elements['email'],
            btn = registerForm.elements['registerBtn'];
        user.onchange=function (){
            const a = new RegExp("^[A-Za-z0-9]+$");
            if(user.value.match(a)){
                user.style.border = "2px solid green"
                Test[0] = true
            }else {
                user.style.border = "2px solid red"
                Test[0] = false
            }
        }
        password.onchange=function (){
            const a = new RegExp("^[A-Za-z0-9]+$");
            if(password.value.match(a)){
                password.style.border = "2px solid green"
                Test[1] = true
            }else {
                password.style.border = "2px solid red"
                Test[1] = false
            }
        }
        passwords.onchange=function (){
            if(passwords.value===password.value){
                passwords.style.border = "2px solid green"
                Test[2] = true
            }else {
                passwords.style.border = "2px solid red"
                Test[2] = false
            }
        }
        email.onchange=function (){
            const a = new RegExp("^\\w+([-+.]\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$");
            if(email.value.match(a)){
                email.style.border = "2px solid green"
                Test[3] =true
            }else {
                email.style.border = "2px solid red"
                Test[3] =false
            }
        }
    }
</script>
<div class="loginDiv">
    <div style="display: flex;justify-content: space-between;flex: 2;align-self: center">
    <form name="registerForm">
        <table>
            <tbody>
            <tr>
                <td>账户名称</td><td><input name="user" type="text" maxlength="25"></td>
            </tr>
            <tr>
                <td>密码</td><td><input name="password" type="text"></td>
            </tr>
            <tr>
                <td>确认密码</td><td><input name="password-again" type="password"></td>
            </tr>
            <tr>
                <td>邮箱</td><td><input name="email" type="password"></td>
            </tr>
            </tbody>
        </table>
        <div style="margin-top:25px;display:flex;flex-direction: column;justify-content: center;align-items: center">
            <button name="registerBtn" type="submit" style="width:35%;padding: 10px 30px 10px 30px;border-radius: 10px;font-size: 10px">注册</button>
        </div>
    </form>
</div>
</div>
</body>
</html>