<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/me_head_module.css"/>
    <link rel="stylesheet" href="../../static/css/me_default.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="position: static;z-index: auto" class="DefaultHeader">
    <div class="IconTitleDivStyle">
        <a href="" style="text-decoration: none;color: deepskyblue">
            <i>Dv</i>
        </a>
    </div>
    <div class="searchDiv">
        <input type="text" class="searchInput" placeholder="搜索图像">
    </div>
    <div class="contributeDiv dropdown">
        <button class="contributeBtn">投 出 你 的 作 品 <span class="caret icon-white"></span></button>
        <div class="contributeMenu">
            <a href="" style="text-decoration: none">
            <div class="contributeMenu_Div">
                图 片
            </div>
            </a>
        </div>
    </div>
    <div class="headUserDiv">
        <div class="IconImageDiv">
        <a href="">
            <img width="40" height="40" style="object-fit: cover; object-position: center top;" src="../../static/iconimage/default-icon.png"/>
        </a>
        </div>
        <div class="dropdown">
            <div class="aboutUser" id="dropdownMenu1" data-toggle="dropdown">
                <span class="caret icon-white"></span>
            </div>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#"></a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">username</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">设置</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">登出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>